@import "./public/styles/vars.scss";
@import "./public/styles/mixins.scss";


/**************************************************
Necro Cult Zine Component


Component Name: 	PlainText
Description:		Regular ordinary text component


**************************************************/

.PlainText{
	//@include maxWidth(800px);
	font-family: $font_body;
	color: $text_color;
}

