@import "@styles/vars.scss";
@import "@styles/mixins.scss";


/**************************************************
Holy Mountain Framework Component


Component Name: 	NavMenu
Description:		Slide-in nav menu


**************************************************/


.NavMenu{
	background-color: $black;
	
	height: 100vh;
	min-height: 800px;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	top: 0;
	left: -300px;

	$reservedBottom: 100px;
	padding-bottom: $reservedBottom;

	.inner{
		height: 100%;
		overflow-y: auto;
	}

	.buttonSection{
		position: relative;
		width: 100%;
		height: 35px;
		.modalClose{
			width: 35px;
			height: 35px;
			position: absolute;
			top: 10px;
			right: 10px;
			display: inline-block;
			cursor: pointer;
		}
	}

	.logoSection{
		@include flex_center;
		padding: 35px 0px;
		.logoLink{
			width: 100%;
			display: inline-block;
		}
	}

	.linkSection{
		padding: 0 35px;
		ul{

		}
		.linkCell{
			
			padding: 15px;
			border-bottom: solid 1px $white;
			width: 100%;
			text-align: center;
			&:first-of-type{
				border-top: solid 1px $white;
			}

			a{
				font-size: $font_size_body;
				color: $white;
				padding: 10px;
				
				&:before,
				&:after{
					content: '\f654';
					font-family: "Font Awesome 5 Free"; 
					font-weight: 900;
					display: inline-block;
					transform: rotate(180deg);
					font-size: 1.5em;
					color: $white;

					transition: opacity .5s 0s, text-shadow .25s .2s;
					opacity: 0;
					
				}
				&:before{
					margin-right: 15px;
				}
				&:after{
					margin-left: 15px;
				}
				&:hover{
					&:before,
					&:after{
						text-shadow: 
							-1px -1px $red, 
							-2px -2px $red, 
							-3px -3px $red, 
							-4px -4px $red, 
							-5px -5px $red;
						opacity: 1;
					}
					
				}
			}
		}
	}


	.socialSection{
		position: absolute;
		width: 100%;
		height: $reservedBottom;
		left: 0;
		bottom: 0;
		
		@include flex_center;
		a{
			color: $white;
			font-size: $font_size_body;
			padding: 5px;
			transition: $transition_medium;
			&:hover{
				color: $red;
			}
		}
	}


}