@import "@styles/vars.scss";
@import "@styles/mixins.scss";


/**************************************************
Necro Cult Zine Component


Component Name: 	MultiPartSlider
Description:		


**************************************************/

.wrapper{
	width: 100%;


}


.ContentSlider{
	margin-bottom: 100px;
}

.CopySlider{

	.SlideInner{
		width: 100%;
		max-width: 650px;
		margin: auto;
	}
}