@import "./public/styles/vars.scss";
@import "./public/styles/mixins.scss";


/**************************************************
Holy Mountain Framework Component


Component Name: 	DesktopNav
Description:		Nav bar for desktop.  Supports both links and button-only


**************************************************/


.DesktopNav{
	background-color:$black;
	border-bottom: solid 2px $white;
	width: 100%;
	$fixedWidth: 120px;
	.mainNav{
		justify-content: space-between;
	}

	

	.logoSection{
		width: $fixedWidth;
		.logoMain{
			width: 100%;
			display: inline-block;
			padding: 15px;
		}
	}
	
	.linkSection{
		width: calc(100% - #{$fixedWidth});
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 35px;

		.navButton{
			color: $white;
			font-size: $font_size_subhead;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: $transition_medium;

			&:hover{
				text-shadow: $text-shadow-red;
			}
		}
	}
	
}