@import "@styles/vars.scss";
@import "@styles/mixins.scss";


/**************************************************
Necro Cult Zine Component


Component Name: 	Typography
Description:		Barbed wire graphic


**************************************************/

.CustomHR{
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 35px
}