@import "@styles/vars.scss";
@import "@styles/mixins.scss";

 
/**************************************************
Necro Cult Zine Component


Component Name: 	
Description:		


**************************************************/  

.Texture{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .5;
	pointer-events: none;
	//background-image: url('/img/textures/natural-paper.png');
	background-repeat: repeat;
	//mix-blend-mode: lighten;
	background-size: 40%;
	z-index: 10;
}